ngoc_son_nguyen_xsd_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- Aplikace -->
<!-- Vlastnostni uživatele -->
<xs:element name="club_music">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="aplikace">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="user">
                <xs:complexType>
                <xs:sequence>
                  <xs:element name="id" type="xs:integer"/>
                  <xs:element name="uziv_jm" type="xs:string"/>
                  <xs:element name="jmeno" type="xs:string"/>
                  <xs:element name="prijmeni" type="xs:string"/>
                  <xs:element name="dat_nar" type="xs:date"/>
                  <xs:element name="heslo" type="xs:string"/>
                  <xs:element name="email" type="xs:string"/>
                  <xs:element name="interface">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="avatar" type="img"/>
                        <xs:element name="preference" type="xs:string"/>
                        <xs:element name="like" type="xs:integer"/>
                        <xs:element name="membership">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="free" type="nula_jedna"/>
                              <xs:element name="vip" type="nula_jedna"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>  
                </xs:sequence>
                </xs:complexType>
              </xs:element>
            
<!-- Vlastnosti free uživatele -->
    <xs:element name="user_f">
      <xs:complexType>
      <xs:sequence>
         <xs:element name="reklamy" type="nula_jedna"/>
         <xs:element name="download" type="nula_jedna"/>
      </xs:sequence>
    </xs:complexType>
    </xs:element>

<!-- Vlastnosti vip uživatele -->
     <xs:element name="user_v">
      <xs:complexType>
      <xs:sequence>
         <xs:element name="reklamy" type="nula_jedna"/>
         <xs:element name="download" type="nula_jedna"/>
      </xs:sequence>
    </xs:complexType>
    </xs:element>

<!-- Nastavení aplikace -->
    <xs:element name="nastaveni">
      <xs:complexType>
      <xs:sequence>
         <xs:element name="jazyk" type="lang"/>
         <xs:element name="jas" type="slider"/>
         <xs:element name="notifikace" type="nula_jedna"/>
         <xs:element name="nahodne_prehr" type="nula_jedna"/>
         <xs:element name="prehravani_pref" type="nula_jedna"/>
         <xs:element name="night_mode" type="nula_jedna"/>
      </xs:sequence>
    </xs:complexType>
    </xs:element>

<!-- Komponenty přehrávače -->
    <xs:element name="prehravac">
      <xs:complexType>
      <xs:sequence>
         <xs:element name="stopa" type="img"/>
         <xs:element name="volume" type="slider"/>
         <xs:element name="tlacitka">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="play" type="nula_jedna"/>
              <xs:element name="pause" type="nula_jedna"/>
              <xs:element name="stop" type="nula_jedna"/>
              <xs:element name="share" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
         </xs:element>
      </xs:sequence>
    </xs:complexType>
</xs:element>

<!-- Vlastnosti domovské stránky -->
    <xs:element name="z_hudba">
      <xs:complexType>
      <xs:sequence>
         <xs:element name="by_pref" type="nula_jedna"/>
         <xs:element name="by_like" type="nula_jedna"/>
      </xs:sequence>
    </xs:complexType>
    </xs:element>

<!-- Vyhledávací pole -->
    <xs:element name="search">
      <xs:complexType>
          <xs:sequence>
            <xs:element name="text" type="xs:string"/>
            <xs:element name="filtr">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="h_zanr" type="xs:string"/>
                  <xs:element name="f_bpm" type="xs:integer"/>
                  <xs:element name="pohlavi_aut" type="gender"/>
                  <xs:element name="rok_vyd" type="xs:integer"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
      </xs:complexType>
    </xs:element>
  </xs:sequence>
  </xs:complexType>
</xs:element>


<!-- Databáze s hudbou -->
<xs:complexType>
      <xs:sequence>
        <xs:element name="zanr" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
</xs:complexType>

    <xs:element name="zanr_desc" maxOccurs="unbounded" minOccurs="0">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="id" type="xs:string"/>
          <xs:element name="nazev_z" type="xs:string"/>
          <xs:element name="sub_zanr" type="xs:string"/>
          <xs:element name="desc" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

<xs:element name="pisnicky" maxOccurs="unbounded" minOccurs="0">
    <xs:complexType>
      <xs:sequence>
       <xs:element name="pisen" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="pohlavi" type="xs:string"/>
    </xs:complexType> 
</xs:element>

<xs:element name="pisen" maxOccurs="unbounded" minOccurs="0">
  <xs:complexType>
    <xs:sequence>
        <xs:element type="xs:string" name="nazev" />
        <xs:element type="xs:string" name="autor"/>
        <xs:element type="xs:string" name="album"/>
        <xs:element type="xs:short" name="bpm"/>
        <xs:element type="xs:string" name="tonina"/>
        <xs:element type="xs:short" name="rok_vydani"/>
        <xs:element type="xs:string" name="label"/> 
    </xs:sequence>
    <xs:attribute name="PG12" type="xs:string"/> 
  </xs:complexType>
</xs:element>
          
    </xs:sequence>
 </xs:complexType>
</xs:element>
      
<!-- Vlastní datové typy -->

  <!-- Pohlaví autora -->
    <xs:simpleType name="gender">
      <xs:restriction base="xs:string">
        <xs:enumeration value="M"/>
        <xs:enumeration value="Z"/>
      </xs:restriction>
    </xs:simpleType>

  <!-- Avatar -->
    <xs:simpleType name="img">
      <xs:restriction base="xs:string">
        <xs:enumeration value="png"/>
        <xs:enumeration value="jpeg"/>
      </xs:restriction>
    </xs:simpleType>
  <!-- Slider 0% - 100% -->
    <xs:simpleType name="slider">
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0"/>
        <xs:maxInclusive value="100"/>
      </xs:restriction>
    </xs:simpleType>

  <!-- Boolean typ -->
    <xs:simpleType name="nula_jedna">
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0"/>
        <xs:maxInclusive value="1"/>
      </xs:restriction>
    </xs:simpleType>

  <!-- Nastavení jazyku -->
    <xs:simpleType name="lang">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CZ"/>
      <xs:enumeration value="EN"/>
      <xs:enumeration value="RUS"/>
    </xs:restriction>
  </xs:simpleType> 
</xs:schema>